
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Контакты Федерации бодибилдинга и фитнеса Свердловской области</title>

    {% load static %}

    <link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900" rel="stylesheet" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="http://cdn.h-team.torbara.com/css/library/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{% static 'dev-assets/preloader-default.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/min.css' %}" rel="stylesheet" type="text/css" />
    
    
    <!-- Put this script tag to the <head> of your page -->

<script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>




    
</head>

<body>

	<div class="preloader-wrapper" id="preloader">
    <div class="motion-line dark-big"></div>
    <div class="motion-line yellow-big"></div>
    <div class="motion-line dark-small"></div>
    <div class="motion-line yellow-normal"></div>
    <div class="motion-line yellow-small1"></div>
    <div class="motion-line yellow-small2"></div>
</div>
    

    
<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-7 hidden-sm hidden-xs">
                <div class="top-contacts">
                    <ul class="socials">
                        <!--<li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>-->
                        <li><a href="https://vk.com/fbsoifbb"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                       <!-- <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>-->
                        <li><a href="https://www.instagram.com/fbso_ifbb"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                    <ul class="contacts">
                        <li class="phone"><i class="fa fa-phone-square" aria-hidden="true"></i>+7 9028 701059</li>
                        <!--<li class="skype"><a href="callto:team.skype"><i class="fa fa-skype" aria-hidden="true"></i>team.skype</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <!--<div class="top-language">
                    <ul class="list">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="images/ru-flag.png" alt="selected language">RU</a>
                            <ul class="dropdown-menu">
                               
                                <li>
                                    <a href="#"><img src="images/ru-flag.png" alt="language">RU</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>-->
                    <div class="top-search">
                            <form>
                                    <input type="text" name="text">
                                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                    </div>

                    <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

    <!--MAIN MENU WRAP END-->
    <!--MAIN MENU WRAP BEGIN-->
<div class="main-menu-wrap sticky-menu">
    <div class="container">
    <a href="index.html" class="custom-logo-link"><img src="{% static 'images/amfootball/logol.png' %}" alt="logo" class="custom-logo" width="167px" height="100px" ></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#team-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <nav class="navbar">
            <div class="collapse navbar-collapse" id="team-menu">
                <ul class="main-menu nav">
                   
                   
                   
                   <!-- <li >
                        <a href="index.html"><span>Главная</span></a>
                    
                    </li>
					
					<li >
                        <a href="news.html"><span>Новости</span></a>
                    
                    </li>					
					
					<li >
                        <a href="calendar.html"><span>Календарь</span></a>
                    
                    </li>
					
					<li >
                        <a href="partners.html"><span>Партнеры</span></a>
                    
                    </li>			
					
					<li >
                        <a href="docs.html"><span>Документы</span></a>
                    
                    </li>
					
					<li >
                        <a href="contacts.html"><span>Контакты</span></a>
                    
                    </li>
					
					-->
					
					
				</ul>
            </div>       
        </nav>
    </div>
</div>
<!--MAIN MENU WRAP END-->


    <!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="index.html">Главная</a>/</li>
                            <li>Контакты</li>
                        </ul>
                        <h1>Контакты</h1>
						
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

<section class="contacts-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                {% block body %} {% endblock body %}
                <!--
                <h4>Штаб-квартира Федерации бодибилдинга и фитнеса Свердловской области</h4>	
                <p>Мы находимся по адресу г. Екатеринбург ул. Родонитовая 29</p>
				<p>в здании фитнес-центра Powerhouse Gym</p>
                <div class="contact-office-img">
                    <img class="img-responsive" src="images/contacts.jpg" alt="contact-office-img">	
                </div>
                <ul class="contact-list">
                    <li><i class="fa fa-flag" aria-hidden="true"></i><span>620089 г. Екатеринбург ул. Родонитовая 29,</span></li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:ucatova@mail.ru">ucatova@mail.ru</a></li>
                    <li class="phone"><i class="fa fa-phone" aria-hidden="true"></i><span>+7 343 3812929</span></li>
					<li class="phone"><i class="fa fa-phone" aria-hidden="true"></i><span>+7 902 8701059</span></li>
                </ul>
				
				</br>
                
                -->
            
            </div>
              </div>
    </div>
    <div class="contacts-map">
        <img class="img-responsive" src="{% static 'images/contacts-map.jpg' %}" alt="contacts-map">
    </div>
</section>
  
    <!--SHARE BOX BEGIN-->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="share-box">
    <div class="item">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="title">Поделиться в соцсетях</div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 text-right">
                    <ul class="share-socials  wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight wpb_start_animation animated">                        

                    
                    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,telegram" data-size="s"></div>


                    
						
						
					
						
					
						
						
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
            </div>
        </div>
    </div>

    <!--SHARE BOX END-->

    <!--FOOTER BEGIN-->
<footer class="footer">

	<div class="footer-menu-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="footer-menu">
                        <li class="active"><a href="index.html"><span>Главная</span></a></li>
                        <li><a href="calendar.html"><span>Календарь</span></a></li>
                        <li><a href="docs.html"><span>Документы</span></a></li>
                        <li><a href="contacts.html"><span>Контакты</span></a></li>
                        
                    </ul>	
                    <a href="#top" class="foot-up"><span>вверх <i class="fa fa-caret-up" aria-hidden="true"></i></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="copyrights">
                        © 2018 Федерация Бодибилдинга и фитнеса Свердловской области
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="created">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--FOOTER END-->


   <script type="text/javascript" src="{% static 'js/jquery1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqueryui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.sticky.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.jcarousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jcarousel.connected-carousels.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/progressbar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.bracket.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chartist.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Chart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fancySelect.js' %}"></script>
<script type="text/javascript" src="{% static 'js/isotope.pkgd.js' %}"></script>
<script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery.team-coundown.js' %}"></script>
<script type="text/javascript" src="{% static 'js/matches-slider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
<script type="text/javascript" src="{% static 'js/matches_broadcast_listing.js' %}"></script>
<script type="text/javascript" src="{% static 'js/news-line.js' %}"></script>
<script type="text/javascript" src="{% static 'js/match_galery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main-club-gallery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/product-slider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/circle-bar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/standings.js' %}"></script>
<script type="text/javascript" src="{% static 'js/shop-price-filter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/timeseries.js' %}"></script>
<script type="text/javascript" src="{% static 'js/radar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/preloader.js' %}"></script>
<script type="text/javascript" src="{% static 'js/diagram.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bi-polar-diagram.js' %}"></script>
<script type="text/javascript" src="{% static 'js/label-placement-diagram.js' %}"></script>
<script type="text/javascript" src="{% static 'js/donut-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/animate-donut.js' %}"></script>
<script type="text/javascript" src="{% static 'js/advanced-smil.js' %}"></script>
<script type="text/javascript" src="{% static 'js/svg-path.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pick-circle.js' %}"></script>
<script type="text/javascript" src="{% static 'js/horizontal-bar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/gauge-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/stacked-bar.js' %}"></script>

<script type="text/javascript" src="{% static 'js/chartist-plugin-legend.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chartist-plugin-threshold.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chartist-plugin-pointlabels.js' %}"></script>

<script type="text/javascript" src="{% static 'js/treshold.js' %}"></script>
<script type="text/javascript" src="{% static 'js/visible.js' %}"></script>
<script type="text/javascript" src="{% static 'js/anchor.js' %}"></script>
<script type="text/javascript" src="{% static 'js/landing_carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/landing_sport_standings.js' %}"></script>
<script type="text/javascript" src="{% static 'js/twitterslider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/champions.js' %}"></script>
<script type="text/javascript" src="{% static 'js/landing_mainnews_slider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/video_slider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/footer_slides.js' %}"></script>
<script type="text/javascript" src="{% static 'js/player_test.js' %}"></script>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter48378140 = new Ya.Metrika({
                    id:48378140,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48378140" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


</body>

</html>
