     
{% extends "mainapp/base.html" %}

{% block title %}{{ p.seo_title }}{% endblock %}
{% load static %}


{%block slider%}
<!--MAIN AMATURE SLIDER END-->
<div class="msp_post_slider" id="amateurs-slider">

        <div class="owl-carousel owl-theme" role="listbox">
        
            
            
            <div class="item msp_post_slide slide-2" style="background-image: " >
                <div class="slider-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-8">
                                <h1 class="title">Открытый Чемпионат Урала по бодибилдингу 2019</h1>
                                <div class="sub-title">
                                    7 апреля в 12-00
                                </div>
                                <a href="urfo2019.html" class="btn">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="item msp_post_slide slide-1" >
                <div class="slider-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-8">
                                <h1 class="title">Открытый Кубок Свердловской области по бодибилдингу 2019</h1>
                                <div class="sub-title">
                                    13 апреля в 14-00
                                </div>
                                <a href="/revda2019.html" class="btn">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
           
           
            
        </div>
    
        <!-- Controls -->
        <a class="nav-arrow left-arrow" href="#main-slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="nav-arrow right-arrow" href="#main-slider" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Следующий</span>
        </a>
    
        <div class="progress-line"><div class="bar"></div></div>
    </div>
      <!--MAIN AMATURE SLIDER END-->
    

{%endblock slider%}

{% block body %}
{{p.text | safe}}

{% endblock body %}



